<div class="create-issue">

  <div style="margin: 23px;">
    <span class="mat-subheading-2">Create A New Issue</span>
  </div>

  <mat-divider style="margin-bottom: 25px;"></mat-divider>

  <form #issueForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput name="issue.title" placeholder="Title" [(ngModel)]="issue.title" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput name="issue.description" placeholder="Description" [(ngModel)]="issue.description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="issue.status" placeholder="Status" [(ngModel)]="issue.status" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!issueForm.valid">Save</button>&nbsp;
    <button mat-raised-button routerLink="/list">Back</button>
  </form>

  <!--<mat-form-field>-->
  <!--<mat-select placeholder="Select">-->
  <!--<mat-option value="option">Option</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
</div>
